<div [class.open]="open">
    <span>
        <label for="music">Music</label>
        <mat-icon (click)="musicVolume === 0 ? musicVolume = 50 : musicVolume = 0">{{ musicVolume === 0 ? 'volume_off' : 'volume_up'}}</mat-icon>
        <input name="music" type="range" min="0" max="100" (input)="musicVolume = $event" [value]="musicVolume" />
    </span>
    <span>
        <label for="sfx">SFX</label>
        <mat-icon (click)="sfxVolume === 0 ? sfxVolume = 50 : sfxVolume = 0">{{ sfxVolume === 0 ? 'volume_off' : 'volume_up'}}</mat-icon>
        <input name="sfx" type="range" min="0" max="100" (input)="sfxVolume = $event" [value]="sfxVolume" />
    </span>
    <span class="tab" [class.open]="open"><mat-icon (click)="open = !open">{{ open ? 'close' : 'volume_up'}}</mat-icon></span>
</div>

<audio id="music-player" loop>
    <source src="#" type="audio/mpeg">
</audio>
<audio id="sfx-player">
    <source src="#" type="audio/mpeg">
</audio>