<div class="timer" *ngIf="!allPlayersHaveSubmitted()" [class.server]="server">0:00</div>
<section>
<div class="prompt" *ngIf="!server && player && !playerHasSubmitted() && !generatingImage && !allPlayersHaveVoted()">
    @for (part of templateParts; track $index) {
        @if (part === '{NOUN}') {
            <mat-form-field>
                <mat-label>Noun</mat-label>
                <mat-select (selectionChange)="updateWord($index, $event)">
                  @for (noun of player.nouns; track noun) {
                    <mat-option [value]="noun">{{noun}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        }
        @else if (part === '{VERB}') {
            <mat-form-field>
                <mat-label>Verb</mat-label>
                <mat-select (selectionChange)="updateWord($index, $event)">
                  @for (verb of player.verbs; track verb) {
                    <mat-option [value]="verb">{{verb}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        }
        @else if (part === '{LOCATION}') {
            <mat-form-field>
                <mat-label>Location</mat-label>
                <mat-select (selectionChange)="updateWord($index, $event)">
                  @for (location of player.locations; track location) {
                    <mat-option [value]="location">{{location}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        }
        @else if (part === '{FOOD}') {
            <mat-form-field>
                <mat-label>Food</mat-label>
                <mat-select (selectionChange)="updateWord($index, $event)">
                  @for (food of player.foods; track food) {
                    <mat-option [value]="food">{{food}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        }
        @else if (part === '{ADJECTIVE}') {
            <mat-form-field>
                <mat-label>Adjective</mat-label>
                <mat-select (selectionChange)="updateWord($index, $event)">
                  @for (adjective of player.adjectives; track adjective) {
                    <mat-option [value]="adjective">{{adjective}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        }
        @else {
            <span>{{part}}</span>
        }
    }

    @if (!loading) {
        <button (click)="submitSolution()">Submit</button>
    } @else {
        <button class="disabled">Generating...</button>
    }
</div>

@if((playerHasSubmitted() || generatingImage) && !server && !allPlayersHaveVoted()){
  <div class="waiting">
    <mat-spinner *ngIf="!allImagesHaveBeenGenerated()"></mat-spinner>
    <p *ngIf="generatingImage">Generating your masterpiece...</p>
    <p *ngIf="!allPlayersHaveSubmitted() || !allImagesHaveBeenGenerated()">Awaiting other players...</p>
    <p *ngIf="allImagesHaveBeenGenerated()">Tap your favorite...</p>
    <div class="voting" *ngIf="allImagesHaveBeenGenerated()">
      @for (solution of game.round?.solutions; track solution;){
        <img (click)="voteFor(solution.playerId)" [src]="solution.imageUrl" [alt]="solution.prompt">
      }
    </div>
  </div>
}

@if(server && !allPlayersHaveVoted()) {
  <div *ngIf="!allPlayersHaveSubmitted()" class="prompt server">
      @for (part of templateParts; track $index) {
          @if (part.startsWith('{')) {
              <span [attr.data-type]="part.split('{')[1].split('}')[0]">_______</span>
          }
          @else {
              <span>{{part}}</span>
          }
      }
  </div>

  <div *ngIf="allPlayersHaveSubmitted() && !allImagesHaveBeenGenerated()" class="prompt server">
      <mat-spinner *ngIf="!allImagesHaveBeenGenerated()"></mat-spinner>
      Calculating Masterpiece Dankness Rating (MDR)...
  </div>

  <div *ngIf="allPlayersHaveSubmitted() && allImagesHaveBeenGenerated()" class="carousel">
    <div>
      @for (solution of game.round?.solutions; track solution;){
          <article class="active">
            <span class="votes">{{solution.votes}} <mat-icon>star</mat-icon></span>
            <img [src]="solution.imageUrl" />
            <caption>{{solution.prompt}}</caption>
          </article>
      }
    </div>
  </div>

  <div *ngIf="!allPlayersHaveSubmitted()" class="players">
    @for (player of game.players; track player;){
        <span [class.done]="playerHasSubmitted(player.id)">
            <div [innerHTML]="getSvg(player.avatarUrl)"></div>
            <p>{{player.id}}</p>
        </span>
    }
  </div>
}

@if(allPlayersHaveVoted()){
  <div class="summary">
    Round Summary Goes HERE....
  </div>
}

</section>

@if(server && !allPlayersHaveVoted()){
<p class="notice">Check your mobile device, fool! <mat-icon>arrow_downward</mat-icon></p>
}