@if (server){
    <h1><small>Join Code</small>{{game.code}}</h1>
}
<section>
<h2>{{server ? 'Waiting for players...' : 'Players'}}</h2>
<div class="players">
    @for (player of game.players; track player;){
        <span>
            <div [innerHTML]="getSvg(player.avatarUrl)"></div>
            <p>{{player.name}}</p>
        </span>
    }
</div>
</section>
@if (server){
    @if (!loading){
    <button (click)="startGame()">Start Game</button>
    } @else {
        <button class="disabled">Starting...</button>
    }
} @else {
    <small class="status">Waiting for host to start the game...</small>
}
